.user-boards-content__section {
  margin: 40px 16px 0;
  max-width: 825px;
  min-width: 288px;
  width: 100%;
  position: relative;
  /* height: 200px; */
}

.all-boards-list__section {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: 15px;
}
