label {
  font-size: 12px;
  font-weight: 700;
  color: #44546f;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.input-component,
.textarea-component {
  border: 2px solid #dadde2;
}
.textarea-component {
  /* resize: none; */
}

.input-component:hover,
.textarea-component:hover {
  background-color: #f7f8f9;
}
.input-component:focus,
.textarea-component:focus {
  background-color: #fff;
  border-color: #388bff;
}

.required {
  padding-left: 2px;
  color: #cf513d;
}
